* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: #ddf;
}
.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	flex-direction: column;
}
.button-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.movie-input {
	width: 10%;
	height: 4vh;
	margin-right: 1rem;
	border: 1px solid gray;
	background: #333;
	color: #fff;
}
.movie-input:focus {
	outline-color: cyan;
}
.search-btn {
	width: 2%;
	height: 4vh;
	background: cornflowerblue;
	border: 1px solid gray;
	transition: all 0.5s ease;
}
.search-btn:active {
	background: #4e75bd;
	border-color: #5c5c5c;
}
.search-animation {
	animation: searching 0.5s ease 0s infinite backwards;
}
@keyframes searching {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(50%, 50%);
	}
	40% {
		transform: translate(-50%, 50%);
	}
	60% {
		transform: translate(-50%, -50%);
	}
	80% {
		transform: translate(50%, -50%);
	}
	90% {
		transform: translate(50%, 0);
	}
	100% {
		transform: translate(0);
	}
}
.error-popup {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f00;
	position: absolute;
	top: 10px;
	width: 20vw;
	height: 10vh;
	left: 40vw;
	opacity: 1;
	transition: all 1s ease;
}
.opacity-invisible {
	opacity: 0;
}
.z-position {
	z-index: -1;
}
.movie-container {
	width: 20%;
	margin-top: 2rem;
}
.movie-container p {
	width: 100%;
}
